@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

* {
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
}

body, #root, input {
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
}

:root {
  --color-primary: #4056F4;
  --color-warning:#E0FF4F;
  --color-danger: #FF6663;
  --color-white: #FEFFFE;
  --color-dark: #0B3954;
  --color-black: #03131C;
  --color-grey: #B2ABAD;
  --color-shadow: #CCCCCC;
}